apiVersion: v1
kind: Service
metadata:
  name: {{ include "terminus.web.fullname" . }}
  labels:
    {{- include "terminus.componentLabels" (dict "root" . "component" "web") | nindent 4 }}
  {{- with .Values.web.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.web.service.type }}
  ports:
    - name: http
      port: {{ .Values.web.service.port }}
      targetPort: http
  selector:
    {{- include "terminus.componentSelectorLabels" (dict "root" . "component" "web") | nindent 4 }}
